#sf{
    text-align: center;
    font-family: 'Gugi', cursive;
    padding: 20px;
   margin-left: 550px;
    color: #003C87;
    margin-bottom: 100px;
    overflow: hidden;
   

    width:650px;
    height:fit-content;
  
    }
